@import "tailwindcss";

@theme {
	--font-sans: "Inter", sans-serif;
	
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;
}

@layer base {
	body {
		font-family: var(--font-sans);
		background-color: #050505; /* Very dark background */
		color: #ffffff;
	}
}

.perspective-1000 {
	perspective: 1000px;
}

.rotate-x-20 {
	transform: rotateX(20deg);
}
